<!DOCTYPE html>
<html lang="pt-br">
  
  <head>
    <meta charset="utf-8">
    <meta https-equiv="Content-Language" content="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Suplemento Natural para Menopausa e TPM. Contras os Sintomas da Menopausa e TPM, conheça o Active Woman Plus">
    <meta name="author" content="Nilson Jr">
    <title>AWPlus | Finalize seu o pedido</title>
    <!-- jquery 3.3.1 -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

     <script type="text/javascript" src="js/bioep.js"></script>
    <script type="text/javascript" src="js/bioep.min.js"></script>
     <script type="text/javascript">
            (function(b,a){
                       var link_atual = a.pathname+""+a.search;

                       history.replaceState(null,document.title,a.pathname+"#!/rescue");                       
                       history.pushState(null,document.title,link_atual);
 
                        b.addEventListener("popstate",function(){
                            if(a.hash==="#!/rescue"){
                                history.replaceState(null,document.title,a.pathname);

                                setTimeout(function(){
                                    bioEp_init();                                  
                                },0)
                            }
                        },false)
                      }(window,location));
        </script>



    <!-- css -->
     <link href="css/carrinho.css" rel="stylesheet">
     <link href="css/lobibox.min.css" rel="stylesheet">
    <!-- favicons -->
    <link rel="icon" type="image/png" href="images/favicon-32x32.png">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <style type="text/css">
      .ceplink {
      color: #000;
      text-decoration: underline;
      cursor: pointer;
      position: absolute;
      right: 17px;
      font-size: 13px;
      top: 15px;
    </style>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98173013-19"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-98173013-19');
</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2753509631384343');
  fbq('track', 'PageView');
fbq('track', 'AddToCart');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2753509631384343&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->



  </head>
  
  <body>

     <!--modal 
        <script type="text/javascript">
                              function bioEp_init() {
                                bioEp.init({
                                    width:400,
                                    height: 263,
                                   delay: 0,
                                   showOnDelay: true,
                                    html: '<a href="https://www.desconto.activecellcolageno.com.br/?segmento=018&midia=I91&midiatexto=desconto-activecell-I91" title="Desconto"><img  id="modal-img" src="images/desconto2_m.jpg" alt="Desconto"></a>"',
                                   cookieExp: 0,
                                  css: '.h_iframe {position:relative;}.h_iframe .ratio {display:block;width:100%;height:auto;}.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:495px;}.wrapper {width:80%;height:100%;margin:0 auto;background:#CCC}#bio_ep_bg{opacity: 0.8;}#bio_ep{background: none !important; box-shadow: none !important; top: 45%;}#bio_ep_close {margin: 0px 0 0 -25px; background: none; z-index: 99999; font-size: 20px;color:#000;}'
                                });
                              }
                            
                             </script>

                             <script type="text/javascript">
                               bioEp.init({
                                    width: 400,
                                    height:263,
                                   html: '<a href="https://www.desconto.activecellcolageno.com.br/?segmento=018&midia=I91&midiatexto=desconto-activecell-I91" title="Desconto"><img  id="modal-img" src="images/desconto2_m.jpg" alt="Desconto"></a>"',
                                   delay: 0,
                                   cookieExp: 0,
                                    css: '.h_iframe {position:relative;}.h_iframe .ratio {display:block;width:100%;height:auto;}.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:495px;}.wrapper {width:80%;height:100%;margin:0 auto;background:#CCC}#bio_ep_bg{opacity: 0.8;}#bio_ep{background: none !important; box-shadow: none !important; top: 45%;}#bio_ep_close {margin: 0px 0 0 -25px; background: none; z-index: 99999; font-size: 20px;color:#000;}'
                               });
                            </script>-->

    <!--loader -->
    <div id="loader" class="loader" [hidden]="!loading"></div>

    <div class="header">
      <div class="container">
        <div class="row">
          <img class="logo" src="images/bandeira.png" alt="Logo AWPlusUp®" />


        </div>
      </div>
    
      <br>
      <br>

       <div class="container">
    <h2 style="color:#000;">
                    <img src="images/1_c.png" width="25" height="25" alt="">&nbsp;  
Aqui está o que você vai receber!</h2>
  <div class="selprodu">
    <br><br>
   <div class="row">

    <div class="col-sm-3"><img class="img-fluid" [src]="selectedOffer.kit.photoUrl" alt="">

    </div>

      <div class="col-sm-3">Produto<br><strong><h3>{{selectedOffer.kit.name}}</h3> </strong>

      </div>
        <div class="col-sm-3">Quantidade<br><strong><h3>{{selectedOffer.quantity}}</h3> </strong>

        </div>

          <div class="col-sm-3">Total<br><strong><h3>{{selectedOffer.installment}}x{{selectedOffer.price | currency:'BRL':true}}</h3> </strong>


          </div>


</div>

 
    <center>
      <br>
<h3 style="color: red">FRETE GRÁTIS PARA TODO BRASIL</h3></center>
 </div>
</div>
    

  <br><br><br>          <!-- CONTAGEM REGRESSIVA-->
        <center>
        <strong style="font-weight:bold; font-size:21px;"><span style="color:#d00b01;">Aviso:</span> Sua encomenda está <span style="color:#4b8f0c;">reservada</span> mas os produtos são limitados!</strong> <br>
        <span style="font-size:18px;">Complete sua compra nos próximos cinco minutos para garantir seu desconto.</span><br><br>
        <div id="timer2">
        <div id="cronometro">&nbsp;</div>
        </div>
        </center>


      <!--Formulario inicio-->
      <!--hiden div <div *ngIf="appliedDiscount">-->
      <div class="formcont" id="alvo">
        <div class="container">

          <!--Formulario inicio-->
          <div class="row">
            <div class="col-sm-12 col-lg-8" track-scroll>
              <section id="register-customer-form">
                <form [formGroup]="checkoutForm">
                  <br>
                  <br>
                  <h2 style="color:#000;">
                    <img src="images/2_c.png" width="25" height="25" alt="">&nbsp;Valide seus dados e preencha o endereço de entrega.</h2>
                  <br>
                  <!--campo nome / FONE -->
                  <div class="row">
                    <!-- <AVISOS DO CAMPO NOME-->
                    <div class="col-sm-4">
                      <input id="firstName" name="firstName" placeholder="Digite seu nome" class="form-control" formControlName="firstName" [(ngModel)]="name"
                      minlength="3">
                      <div *ngIf="checkoutForm.controls.firstName.invalid && (checkoutForm.controls.firstName.dirty || checkoutForm.controls.firstName.touched)">
                        <div *ngIf="checkoutForm.controls.firstName.errors.required" class="erro">O campo Nome é obrigatório</div>
                        <div *ngIf="!checkoutForm.controls.firstName.errors.required && checkoutForm.controls.firstName.errors.minlength"
                        class="erro2">O campo Nome precisa ter pelo menos 3 caracteres.</div>
                      </div>
                      <!-- <AVISOS DO CAMPO NOME-->
                    </div>
                    <!-- <AVISOS DO CAMPO SOBRENOME-->
                    <div class="col-sm-4">
                      <input id="txtlastName" name="txtlastName" placeholder="Digite seu sobrenome" class="form-control" formControlName="lastName"
                      minlength="3">
                      <div *ngIf="checkoutForm.controls.lastName.invalid && (checkoutForm.controls.lastName.dirty || checkoutForm.controls.lastName.touched)">
                        <div *ngIf="checkoutForm.controls.lastName.errors.required" class="erro">O campo sobrenome é obrigatório</div>
                        <div *ngIf="!checkoutForm.controls.lastName.errors.required && checkoutForm.controls.lastName.errors.minlength"
                        class="erro2">O campo sobrenome precisa ter pelo menos 3 caracteres.</div>
                      </div>
                      <!-- <AVISOS DO CAMPO SOBRENOME-->
                    </div>
                    <div class="col-sm-4">
                      <input class="form-control" placeholder="Digite seu telefone" formControlName="phone" [(ngModel)]="phone" [textMask]="{mask: phoneOrCellMask}"
                      required>
                      <!-- <AVISOS DO CAMPO FONE-->
                      <div *ngIf="checkoutForm.controls.phone.invalid && (checkoutForm.controls.phone.dirty || checkoutForm.controls.phone.touched)">
                        <div *ngIf="checkoutForm.controls.phone.errors.required" class="erro">O campo telefone é obrigatório.</div>
                        <div *ngIf="!checkoutForm.controls.phone.errors.required && checkoutForm.controls.phone.errors"
                        class="erro2">telefone inválido.</div>
                      </div>
                      <!-- <AVISOS DO CAMPO FONE-->
                    </div>
                    <div class="col-sm-2"></div>
                  </div>
                  <!--CPF / EMAIL-->
                  <div class="row">
                    <div class="col-sm-6">
                      <input id="txtEmail" name="txtEmail" placeholder="Digite seu E-Mail" class="form-control" formControlName="email" [(ngModel)]="email">
                      <!-- <AVISOS DO CAMPO EMAIL-->
                      <div *ngIf="checkoutForm.controls.email.invalid && (checkoutForm.controls.email.dirty || checkoutForm.controls.email.touched)">
                        <div *ngIf="checkoutForm.controls.email.errors.required" class="erro">O campo E-mail é obrigatório.</div>
                        <div *ngIf="!checkoutForm.controls.email.errors.required && checkoutForm.controls.email.errors"
                        class="erro2">E-mail inválido.</div>
                      </div>
                      <!-- <AVISOS DO CAMPO EMAIL-->
                    </div>
                    <div class="col-sm-6">
                      <input id="txtCPF" name="txtCPF" placeholder="Digite seu CPF" class="form-control" formControlName="identity" [textMask]="{mask: cpfMask}">
                      <!-- <AVISOS DO CAMPO CPF -->
                      <div *ngIf="checkoutForm.controls.identity.invalid && (checkoutForm.controls.identity.dirty || checkoutForm.controls.identity.touched)">
                        <div *ngIf="checkoutForm.controls.identity.errors.required" class="erro">O campo CPF é obrigatório.</div>
                        <div *ngIf="!checkoutForm.controls.identity.errors.required && checkoutForm.controls.identity.errors"
                        class="erro2">Digite um CPF válido.</div>
                      </div>
                      <!-- CPF / EMAIL -->
                    </div>
                    <!-- <div class="form-group row">
                  <label for="" class="col-sm-2 col-form-label">Data de Nascimento: </label>
                  <div class="col-sm-10">
                     <input id="txtBirhdate" name="txtBirhdate" class="form-control" placeholder="Data de Nascimento" required="O campo Data de Nascimento é obrigatório."
                        [(ngModel)]="customer.birhdate">
                  </div>
               </div> --></div>
                  <!--campo email /CEP-->
                  <div class="row">
                    <div class="col-sm-4">
                      <input id="birthDate" name="birthDate" placeholder="Data de nascimento" class="form-control" formControlName="birthDate"
                      [textMask]="{mask: birthDateMask}" required>
                      <!-- <AVISOS DO CAMPO DATA-->
                      <div *ngIf="checkoutForm.controls.birthDate.invalid && (checkoutForm.controls.birthDate.dirty || checkoutForm.controls.birthDate.touched)">
                        <div *ngIf="checkoutForm.controls.birthDate.errors.required" class="erro">O campo data de nascimento é obrigatório.</div>
                        <div *ngIf="!checkoutForm.controls.birthDate.errors.required && checkoutForm.controls.birthDate.errors"
                        class="erro2">Coloque uma data válida.</div>
                      </div>
                      <!-- <AVISOS DO CAMPO data -->
                    </div>
                    <div class="col-sm-3">
                      <select id="sex" name="sex" formControlName="sex" required>
                        <option [value]="''" disabled selected>Sexo</option>
                        <option value="F">Feminino</option>
                        <option value="M">Masculino</option>
                      </select>
                      <!-- <AVISOS DO CAMPO sex-->
                      <div *ngIf="checkoutForm.controls.sex.invalid && (checkoutForm.controls.sex.dirty || checkoutForm.controls.sex.touched)">
                        <div *ngIf="checkoutForm.controls.sex.errors.required" class="erro">O campo sexo é obrigatório.</div>
                        <div *ngIf="!checkoutForm.controls.sex.errors.required && checkoutForm.controls.sex.errors"
                        class="erro2">Selecione corretamente o campo sexo.</div>
                      </div>
                      <!-- <AVISOS DO CAMPO sex -->
                    </div>
                    <div class="col-sm-5" track-scroll>
                      <span onclick="window.open('http://www.buscacep.correios.com.br/sistemas/buscacep/','_blank');return false;" id="searchCEP"
                      class="ceplink">Não sei meu CEP</span>
                      <input id="txtCep" name="txtCep" placeholder="Digite seu CEP" class="form-control" formControlName="zipCode"
                      (keyup)="getAddressByCep()" [(ngModel)]="address.zipCode" maxlength="8" minlength="8">
                      <!-- <AVISOS DO CAMPO CEP -->
                      <div *ngIf="checkoutForm.controls.zipCode.invalid && (checkoutForm.controls.zipCode.dirty || checkoutForm.controls.zipCode.touched)">
                        <div *ngIf="checkoutForm.controls.zipCode.errors.required" class="erro">O campo CEP é obrigatório.</div>
                        <div *ngIf="!checkoutForm.controls.zipCode.errors.required && checkoutForm.controls.zipCode.errors.minlength"
                        class="erro2">O campo CEP precisa ter pelo menos 8 caracteres.</div>
                      </div>
                      <!-- <AVISOS DO CAMPO CEP -->
                    </div>
                  </div>
                  <!--campo email /CEP-->
                  <div [hidden]="address.state === undefined || address.state === ''" class="row">
                    <div class="col-sm-4" track-scroll>
                      <select id="streetType" name="streetType" formControlName="streetType" [(ngModel)]="address.streetType" required>
                        <option [value]="''" disabled selected>Tipo de logradouro</option>
                        <option *ngFor="let type of streetTypes" [value]="type.code">{{type.text}}</option>
                      </select>
                      <!-- <AVISOS DO CAMPO logradouro -->
                      <div *ngIf="checkoutForm.controls.streetType.invalid && (checkoutForm.controls.streetType.dirty || checkoutForm.controls.streetType.touched)">
                        <div *ngIf="checkoutForm.controls.streetType.errors.required" class="erro">O campo logradouro é obrigatório.</div>
                        <div *ngIf="!checkoutForm.controls.streetType.errors.required && checkoutForm.controls.streetType.errors"
                        class="erro2">Digite corretamente o tipo de logradouro.</div>
                      </div>
                      <!-- <AVISOS DO CAMPO logradouro -->
                    </div>
                    <div class="col-sm-5">
                      <input id="txtAddress" name="txtAddress" placeholder="Digite o nome da sua rua" class="form-control" formControlName="street"
                      [(ngModel)]="address.street">
                      <!-- <AVISOS DO CAMPO RUA -->
                      <div *ngIf="checkoutForm.controls.street.invalid && (checkoutForm.controls.street.dirty || checkoutForm.controls.street.touched)">
                        <div *ngIf="checkoutForm.controls.street.errors.required" class="erro">O campo rua é obrigatório.</div>
                        <div *ngIf="!checkoutForm.controls.street.errors.required && checkoutForm.controls.street.errors"
                        class="erro2">Digite corretamente o campo Rua.</div>
                      </div>
                      <!-- <AVISOS DO CAMPO RUA -->
                    </div>
                    <div class="col-sm-3">
                      <input id="txtCity" name="txtCity" class="form-control" placeholder="Cidade" formControlName="city" [(ngModel)]="address.city"
                      #rua>
                      <!-- <AVISOS DO CAMPO CIDADE -->
                      <div *ngIf="checkoutForm.controls.city.invalid && (checkoutForm.controls.city.dirty || checkoutForm.controls.city.touched)">
                        <div *ngIf="checkoutForm.controls.city.errors.required" class="erro">O campo cidade é obrigatório.</div>
                        <div *ngIf="!checkoutForm.controls.city.errors.required && checkoutForm.controls.city.errors"
                        class="erro2">O campo cidade é obrigatório.</div>
                      </div>
                      <!-- <AVISOS DO CAMPO CIDADE -->
                    </div>
                  </div>
                  <!--Cidade / Estado -->
                  <div [hidden]="address.state === undefined || address.state === ''" class="row">
                    <div class="col-sm-4">
                      <select id="txtState" name="txtState" placeholder="Digite seu estado" formControlName="state" [(ngModel)]="address.state"
                      required>
                        <option [value]="''" disabled selected>Selecione o Estado</option>
                        <option [value]="'AC'">Acre</option>
                        <option [value]="'AL'">Alagoas</option>
                        <option [value]="'AM'">Amazonas</option>
                        <option [value]="'AP'">Amapá</option>
                        <option [value]="'BA'">Bahia</option>
                        <option [value]="'CE'">Ceará</option>
                        <option [value]="'DF'">Distrito Federal</option>
                        <option [value]="'ES'">Espírito Santo</option>
                        <option [value]="'GO'">Goiás</option>
                        <option [value]="'MA'">Maranhão</option>
                        <option [value]="'MT'">Mato Grosso</option>
                        <option [value]="'MS'">Mato Grosso do Sul</option>
                        <option [value]="'MG'">Minas Gerais</option>
                        <option [value]="'PA'">Pará</option>
                        <option [value]="'PB'">Paraíba</option>
                        <option [value]="'PR'">Paraná</option>
                        <option [value]="'PE'">Pernambuco</option>
                        <option [value]="'PI'">Piauí</option>
                        <option [value]="'RJ'">Rio de Janeiro</option>
                        <option [value]="'RN'">Rio Grande do Norte</option>
                        <option [value]="'RO'">Rondônia</option>
                        <option [value]="'RS'">Rio Grande do Sul</option>
                        <option [value]="'RR'">Roraima</option>
                        <option [value]="'SC'">Santa Catarina</option>
                        <option [value]="'SE'">Sergipe</option>
                        <option [value]="'SP'">São Paulo</option>
                        <option [value]="'TO'">Tocantins</option>
                      </select>
                      <!-- <input id="txtState" name="txtState" class="form-control" placeholder="Digite seu estado" formControlName="state" [(ngModel)]="address.state">
					  
					  <!-- <AVISOS DO CAMPO ESTADO -->
                      <div *ngIf="checkoutForm.controls.state.invalid && (checkoutForm.controls.state.dirty || checkoutForm.controls.state.touched)">
                        <div *ngIf="checkoutForm.controls.state.errors.required" class="erro">O campo estado é obrigatório.</div>
                        <div *ngIf="!checkoutForm.controls.state.errors.required && checkoutForm.controls.state.errors"
                        class="erro2">O campo estado é obrigatório.</div>
                      </div>
                      <!-- <AVISOS DO CAMPO ESTADO -->
                    </div>
                    <!-- <CAMPO BAIRRO -->
                    <div class="col-sm-3">
                      <input class="form-control" id="txtDistrict" name="txtDistrict" placeholder="Bairro" formControlName="district" [(ngModel)]="address.district">
                      <!-- <AVISOS DO CAMPO BAIRRO -->
                      <div *ngIf="checkoutForm.controls.district.invalid && (checkoutForm.controls.district.dirty || checkoutForm.controls.district.touched)">
                        <div *ngIf="checkoutForm.controls.district.errors.required" class="erro">O campo bairro é obrigatório.</div>
                        <div *ngIf="!checkoutForm.controls.district.errors.required && checkoutForm.controls.district.errors"
                        class="erro2">O campo bairro é obrigatório.</div>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <input id="txtNumber" name="txtNumber" placeholder="Número" class="form-control" formControlName="number"  maxlength="6">
                      <!-- <AVISOS DO CAMPO NUMERO DA RUA-->
                      <div *ngIf="checkoutForm.controls.number.invalid && (checkoutForm.controls.number.dirty || checkoutForm.controls.number.touched)">
                        <div *ngIf="checkoutForm.controls.number.errors.required" class="erro">O campo Nome da rua é obrigatório.</div>
                        <div *ngIf="!checkoutForm.controls.number.errors.required && checkoutForm.controls.number.errors"
                        class="erro2">O campo Nome da rua é obrigatório.</div>
                      </div>
                      <!-- <AVISOS DO CAMPO NUMERO DA RUA -->
                    </div>
                    <div class="col-sm-3">
                      <input id="txtComplement" name="txtComplement" class="form-control" placeholder="Complemento" formControlName="complement">
                    </div>
                  </div>
                  <div [hidden]="address.state === undefined || address.state === ''" class="row"></div>
                  <!--inicio ambiente de pagamento-->
                  <!--opção de pagamento <div class="row">
				   <div class="col-sm-1"></div>
                 <label for="selCreditOrBillet" class="col-sm-3"> &nbsp; Opção de Pagamento: </label>
                 <div class="col-sm-4">
                     <select id="selCreditOrBillet" name="selCreditOrBillet" formControlName="type">
                        <option value="0" selected>Cartão de Crédito</option>
                        
                     </select>
					  
                  </div>
               </div>	-->
                  <div [hidden]="address.state === undefined || address.state === ''" *ngIf="checkoutForm.controls.type.value == '0'">
                    <br>
                    <br>
                    <h2 style="color:#000;">
                      <img src="images/3_c.png" width="25" height="25" alt="">&nbsp;Preencha as informações de pagamento</h2>
                    <span style="color: gray">- Cartão de Crédito</span>
                    <br>
                    <!--campo numero cartao-->
                    <div class="row">
                      <div class="col-sm-12">
                        <input id="txtCardNumber" name="txtCardNumber" class="form-control cardbg" placeholder="Número do Cartão " formControlName="cardNumber"
                        maxlength="19" ccNumber>
                        <!-- <AVISOS DO CAMPO NUMERO DO CARTÃO -->
                        <div *ngIf="checkoutForm.controls.cardNumber.invalid && (checkoutForm.controls.cardNumber.dirty || checkoutForm.controls.cardNumber.touched)">
                          <div *ngIf="checkoutForm.controls.cardNumber.errors.required" class="erro">Ops! Este campo é obrigatório</div>
                          <div *ngIf="!checkoutForm.controls.cardNumber.errors.required && checkoutForm.controls.cardNumber.errors"
                          class="erro2">Ops! Que tal verificar este campo</div>
                        </div>
                        <!-- <AVISOS DO CAMPO NUMERO DO CARTÃO -->
                      </div>
                      <!--campo nome-->
                      <div class="col-sm-12">
                        <input id="txtHolder" name="txtHolder" class="form-control" placeholder="Nome do titular do Cartão (Como esta gravado no cartão)"
                        formControlName="holder" minlength="3" required>
                        <!-- <AVISOS DO CAMPO NOME DO CARTÃO -->
                        <div *ngIf="checkoutForm.controls.holder.invalid && (checkoutForm.controls.holder.dirty || checkoutForm.controls.holder.touched)">
                          <div *ngIf="checkoutForm.controls.holder.errors.required" class="erro">O campo Nome do cartão é obrigatório.</div>
                          <div *ngIf="!checkoutForm.controls.holder.errors.required && checkoutForm.controls.holder.errors.minlength"
                          class="erro2">O campo Nome precisa ter pelo menos 3 caracteres.</div>
                        </div>
                        <!-- <AVISOS DO CAMPO NOME DO CARTÃO -->
                      </div>
                    </div>
                    <!--campo validade/cod-->
                    <div class="row">
                      <div class="col-sm-4">
                        <h3 style="margin-top: 25px">Validade do cartão:</h3>
                      </div>
                      <div class="col-sm-2">
                        <!--<input id="txtExpirationDate" name="txtExpirationDate" class="form-control" placeholder="Data de validade" formControlName="expirationDate"
                        ccExp #dt>-->
                        <select formControlName="expirationMonth" required>
                          <option value="" disabled selected>Mês</option>
                          <option [value]="'01'">1</option>
                          <option [value]="'02'">2</option>
                          <option [value]="'03'">3</option>
                          <option [value]="'04'">4</option>
                          <option [value]="'05'">5</option>
                          <option [value]="'06'">6</option>
                          <option [value]="'07'">7</option>
                          <option [value]="'08'">8</option>
                          <option [value]="'09'">9</option>
                          <option [value]="'10'">10</option>
                          <option [value]="'11'">11</option>
                          <option [value]="'12'">12</option>
                        </select>
                        <!-- <AVISOS DO CAMPO MÊS <div *ngIf="checkoutForm.controls.expirationMont.invalid && (checkoutForm.controls.expirationMont.dirty
                        || checkoutForm.controls.expirationMont.touched)">
                     <div *ngIf="checkoutForm.controls.expirationMont.errors.required" class="erro">O campo mês é obrigatório</div>
                     <div *ngIf="!checkoutForm.controls.expirationMont.errors.required && checkoutForm.controls.expirationMont.errors" class="erro2">Escolha corretamente o mês da validade do cartão</div>
                     </div>			   -->
                        <!-- <AVISOS DO CAMPO MÊS -->
                      </div>
                      <div class="col-sm-2">
                        <select formControlName="expirationYear" required>
                          <option value="" disabled selected>Ano</option>
                          <option *ngFor="let year of creditCardYears" [value]="year" #dt>{{year}}</option>
                        </select>
                        <!-- <AVISOS DO CAMPO ANO <div *ngIf="checkoutForm.controls.expirationYear.invalid && (checkoutForm.controls.expirationYear.dirty
                        || checkoutForm.controls.expirationYear.touched)">
                     <div *ngIf="checkoutForm.controls.expirationYear.errors.required" class="erro">O campo ano é obrigatório.</div>
                     <div *ngIf="!checkoutForm.controls.expirationYear.errors.required && checkoutForm.controls.expirationYear.errors" class="erro2">Escolha corretamente o ano da validade do cartão</div>
                     </div>		-->
                        <!-- <AVISOS DO CAMPO ANO -->
                      </div>
                      <div class="col-sm-4">
                        <input id="txtSecurityCode" name="txtSecurityCode" class="form-control" placeholder="Código de Segurança" formControlName="securityCode"
                        ccCVC required>
                        <!-- <AVISOS DO CODIGO DE SEGURANÇA -->
                        <div *ngIf="checkoutForm.controls.securityCode.invalid && (checkoutForm.controls.securityCode.dirty || checkoutForm.controls.securityCode.touched)">
                          <div *ngIf="checkoutForm.controls.securityCode.errors.required" class="erro">O campo código de segurança é obrigatório.</div>
                          <div *ngIf="!checkoutForm.controls.securityCode.errors.required && checkoutForm.controls.securityCode.errors"
                          class="erro2">Digite corretamente o código de segurança do cartão</div>
                        </div>
                        <!-- <AVISOS DO CODIGO DE SEGURANÇA -->
                      </div>
                    </div>
                    <!-- parcelas -->
                    <div class="form-group row">
                      <select class="par col-sm-3" formControlName="installment" [(ngModel)]="installment">
                        <option *ngFor="let installment of installments" [value]="installment[0]">{{installment[0]}}x de {{installment[1] | currency:'BRL':true}}</option>
                      </select>
                    </div>
                    <!--campo bandeira <div class="row">
					  <div class="col-sm-1"></div>
                     <label for="selBrand" class="col-sm-3 col-form-label">&nbsp;Bandeira: </label>
                     <div class="col-sm-4">
                        <select id="selBrand" name="selBrand" formControlName="brand">
                           <option value="Visa" selected>Visa</option>
                           <option value="Master">Master Card</option>
                           <option value="Amex">Amex</option>
                           <option value="Elo">Elo</option>
                           <option value="Aura">Aura</option>
                           <option value="JCB">JCB</option>
                           <option value="Diners">Diners</option>
                           <option value="Discover">Discover</option>
                        </select><div class="col-sm-4 cv">
					  <img class="img-fluid" rc="images/cv.png" alt=""></div>
					</div>	--></div>
                  <br>
                  <br>
                  <!--valor frete <div [hidden]="!rua.value" class="row">					
					<div class ="col-sm-4"><b>&nbsp;&nbsp;Valor do Frete Parcelado:</b> </div><div class="col-md-6"></div>  {{installment}} x {{shippingCostParcel | currency:'BRL':true}} 
				   </div>
					<hr style="height:3px"/>-->
                  <span style="color: gray">- FRETE GRÁTIS PARA TODO BRASIL</span>
                  <hr style="height:3px" />
                  <!--total-->
                  <div [hidden]="!rua.value" class="row">
                    <div class="col-sm-1">
                      <b>&nbsp;&nbsp;Total:</b>
                    </div>
                    <div class="col-sm-2 col-md-11" style="text-align: right">{{installment}} x {{totalParcel | currency:'BRL':true}}</div>
                  </div>
                  <hr style="height:3px" />
                  <br>
                  <div class="alert alert-danger" role="alert" *ngIf="errorMessage != ''">{{errorMessage}}</div>
                  <center>
                    <button [hidden]="!rua.value" [disabled]="blockedButton" class="botaop" onClick="fbq('track', 'CompleteRegistration');" (click)="pay()">FINALIZAR O MEU PEDIDO</button>
                    <img style="margin-top: 20px" src="images/cadeado.jpg" alt="" />
                  </center>
                  <br>
                  <br>
                </form>
              </section>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 lateral">
              <img class="img-fluid" src="images/lateral.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <br>

   <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
               <img src="images/aw_logo.png" height="60" alt="" />
              <br>
              <br>
              <p>AWPlus® Suplemento Natural para Menopausa e TPM. Contras os Sintomas da Menopausa e TPM, conheça o Active Woman Plus!</p>
            </div>
          
       <div class="col-sm-4" style="text-align:center; margin-top: 30px;">
        <br>
    <strong>Central de Atendimento:</strong><br>
        (11) 3195-4550
        (11) 99504-3108</h4>
     <br> <br>
         <a href="https://politica.useawplus.com/" style="color: #000; text-decoration: underline;" target="_blank"><h5>veja nossa política de privacidade</h5></a>
            <img class="img-fluid" src="images/site_seguro.jpg" alt="pagamento">
            </div>

            <div class="col-sm-4" style="text-align: center">
              <a href="https://api.whatsapp.com/send?phone=5511995043108&text=Estou%20no%20carrinho%20do%20Awplus%20-%20Ofertas2%20e%20quero%20saber%20mais!"
              target="_blank"><img  class="img-fluid" src="images/whats.png" style="margin-top: 15px;" alt=""/></a>
              <br><br>
              <span>Siga-nos nas redes sociais:</span>
              <a href="https://www.instagram.com/awplusoficial/" target="_blank"><img src="images/insta.png" width="32" height="32" alt=""/></a>
              <a href="https://www.facebook.com/awplusoriginal/" target="_blank"><img src="images/face.png" width="33" height="33" alt=""/></a>
              <a href="https://www.youtube.com/channel/UCj7pjOSxo_FXa9K09Wi76rw" target="_blank"><img src="images/youtube.png" width="33" height="33" alt=""/></a>
            </div>
          </div>
          <hr style="height:3px; margin-top: 0px; margin-bottom: 0px;" />
          <div class="row">
            <div class="col-sm-4">
              <p>Copyright &copy; AWPlus® 2019. Todos os Direitos Reservados</p>
            </div>
            <div class="col-sm-4" style="text-align: center"></div>
            <div class="col-sm-4" style="text-align: center">
              
            </div>
          </div>
        </div>
      </footer>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">ATENÇÃO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <h2 style="color: #ff0000;"><strong> Por favor verificar as informações a seguir:<br>
       {{errorMessage}}</strong></h2>
      </div>

      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
     
    </div>
  </div>
</div>

 <script type="text/javascript">
    // script que abre o modal 

  marketshop.setRejectedPaymentEvent(function () {
    $('#exampleModalCenter').modal('show');
});

</script>

    <!-- js plugin lobibox alertas aleatorias-->
      <script src="js/lobibox.min.js"></script>
      <script type="text/javascript">
        iconSource: 'fontAwesome'

            var frases_ativas = 8;

            var frases = [];

            frase = {

                                'style' : 'success',

                                'icon' : 'fa fa-flag-checkered',

                                'msg' : '<b>9</b> Pessoas estão comprando <b>AWPlus®</b> nesse momento'

                              };

                       frases.push(frase);
frase = {

                                'style' : 'info',

                                'icon' : 'fa fa-flag-checkered',

                                'msg' : '<b>317</b> Pessoas compraram <b>AWPlus®</b> essa semana'

                              };

                       frases.push(frase);
frase = {

                                'style' : 'info',

                                'icon' : 'fa fa-flag-checkered',

                                'msg' : '<b>2</b> Pessoas compraram <b>AWPlus®</b> nos últimos minutos'

                              };

                       frases.push(frase);
frase = {

                                'style' : 'info',

                                'icon' : 'fa fa-flag-checkered',

                                'msg' : '<b>23</b> Pessoas compraram <b>AWPlus®</b> hoje'

                              };

                       frases.push(frase);
frase = {

                                'style' : 'info',

                                'icon' : 'fa fa-flag-checkered',

                                'msg' : '<b>Juliana</b> acabou de comprar 03 potes de <b>AWPlus®</b>'

                              };

                       frases.push(frase);
frase = {

                                'style' : 'success',

                                'icon' : 'fa fa-check-circle',

                                'msg' : '<b>Fernanda</b> tive ótimos resultados com o <b>AWPlus®</b>'

                              };

                       frases.push(frase);
frase = {

                                'style' : 'success',

                                'icon' : 'fa fa-check-circle',

                                'msg' : '<b>Alexandra: </b>Estou adorando o <b>AWPlus®</b> já tive resultado desde primeira semana</b>'

                              };

                       frases.push(frase);
frase = {

                                'style' : 'success',

                                'icon' : 'fa fa-check-circle',

                                'msg' : '<b>Sônia: </b>Eu estou usando a menos de um mês e está me ajudando muito</b>'

                              };

                       frases.push(frase);

            var frases_ = frases.slice(0);
 
            setInterval(function(){

              if(frases_.length == 0){
                // frases_ = frases.slice(0);
              }

              id = Math.floor(Math.random()*frases_.length);

              frase = frases_[id];

              Lobibox.notify( 
                frase.style,{
                  size: 'mini',
                  width: 400,
                  messageHeight: 50,
                  icon: frase.icon,
                  delayIndicator: true,
                  position: 'bottom right',
                  msg: frase.msg,
                  delay: 10000 
                }
              );

              frases_.splice(id,1);

            },18000);
      </script>
  


<!--Contagem regressiva2-->
 <script type="text/javascript">
var timer={minutes:0,seconds:0,elm:null,samay:null,sep:'&nbsp;',init:function(m,s,elm)
{m=parseInt(m,10);s=parseInt(s,10);if(m<0||s<0||isNaN(m)||isNaN(s)){alert('Invalid Values');return;}
this.minutes=m;this.seconds=s;this.elm=document.getElementById(elm);timer.start();},start:function()
{this.samay=setInterval((this.doCountDown),1000);},doCountDown:function()
{if(timer.seconds==0)
{if(timer.minutes==0)
{clearInterval(timer.samay);timerComplete();return;}
else
{timer.seconds=60;timer.minutes--;}}
timer.seconds--;timer.updateTimer(timer.minutes,timer.seconds);},updateTimer:function(min,secs)
{min=(min<10?'0'+min:min);secs=(secs<10?'0'+secs:secs);(this.elm).innerHTML=min+(this.sep)+secs;}}
function timerComplete()
{
}
window.onload = init;
function init()
{
  timer.init(5,00,'cronometro');
}
</script>

   </body>
    </html>
